body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: rgb(242,235,228);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: Verdana;
    color:rgb(93,64,45);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
}

#cat{
    position: absolute;
    left: 435px;
    bottom: 100px;
}